.landing-div {
  display: flex;
  flex-direction: column;
  background:
    no-repeat center / cover
    url("../assets/image-de-Saint-Georges-site-web-landing-mobile.jpg");
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.landing-div::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100vh;
  background-color: black;
  opacity: 0.35;
  pointer-events: none;
}

.landing-title {
  color: white;
  z-index: 1;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
}

.enter-website-button {
  z-index: 1;
  background-color: white;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.landing-image {
  height: 18rem;
}

.landing-image-container {
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .landing-div {
    background:
      no-repeat center / cover
      url("../assets/Image-de-Saint-Georges-site-web.jpg");
    gap: 4rem;
  }

  .enter-website-button {
    padding: 0.5rem;
    font-size: 2em;
  }

  .enter-website-button:hover {
    text-decoration: underline;
  }

  .landing-title {
    font-size: 2rem;
  }

  .landing-image {
    height: 20rem;
  }
}

