.novenas-pillars {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    font-size: 1.5rem;
}

.novena-spirit-prayer {
    width: 30rem
}

@media screen and (min-width: 1024px) {
    .novena-spirit-prayer {
        width: 50rem
    }
}