.jeanne-img {
  width: 60vw;
}

.prayer-group-activities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.for-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fleur-de-lis {
    width: 8rem;
}

.john-paul-ii {
    font-weight: bold;
}

.quote-container {
    text-align: center;
}

.john-paul-ii-quote {
    font-size: 1rem;
}