.burger-btn {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.burger-btn span {
  width: 1.5rem;
  height: 2px;
  background-color: black;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 87px;
}

.menu.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  z-index: 555;
  background-color: white;
  padding: 1em;
  border: 2px solid black;
}