.header-head {
  background-color: #dfd4c0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 10vh;
  align-items: center;
}

.header-head-logo {
  height: 3.5rem;
}

.header-image-background {
  background:
    no-repeat center / cover
    url("../assets/Image-de-Saint-Georges-site-web-mobile.jpg");
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-logo {
  height: 12rem;
}

.header-navbar {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header-image-background {
    background:
      no-repeat center / cover
      url("../assets/Image-de-Saint-Georges-site-web.jpg");
    background-attachment: scroll;
    height: 50vh;
  }

  .header-image-logo {
    height: 20rem;
  }

  .header-head-logo {
    height: 3.7rem;
  }

  .menu-desktop {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    padding-right: 2rem;
  }

  .header-navbar {
    display: block;
    width: 95%;
  }

  .header-desktop-link {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
  }

  .header-desktop-link:hover {
    text-decoration: underline;
  }
}
