.header-head {
    background-color: #DFD4C0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
}

.header-head-logo {
    height: 4em;
}

.header-image {
    background: no-repeat center /cover url("../assets/Image-de-Saint-Georges-site-web.jpg");
    height: 35vh;
}

