.header-head {
  background-color: #dfd4c0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.header-head-logo {
  height: 4rem;
}

.header-image {
  background:
    no-repeat center / cover
    url("../assets/Image-de-Saint-Georges-site-web-mobile.jpg");
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-logo {
    height: 12rem;
}

