.saint-card {
  width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #dfd4c0;
  align-items: center;
  border-radius: 10px;
}

.saint-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.saint-button {
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.2rem;
}

.saint-button:last-child {
  margin-bottom: 2rem;
}

.saint-name {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .saint-card {
    width: 30rem;
  }
}
