body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.header {
  height: 45vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
}

p {
  font-size: 1.2rem;
  text-align: justify;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 60vh;
  }
}

